/* Add a black background color to the top navigation */
header > .topnav {
  /* position: fixed;
  top: 0;
  width: 100%; */
  background-color: rgb(200, 85, 61);  /* #333 */
  overflow: hidden;
  margin: auto;
  /* width: 40%;
  padding: 0% 30% 0% 30%; */
}

/* Style the links inside the navigation bar */
header > .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* font-size: 17px; */
  font-weight: bold;
}

/* Change the color of links on hover */
header > .topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
header > .topnav a.active {
  background-color: #ddd; /* #04AA6D */
  color: rgb(200, 85, 61); /* white; */
}

.side_by_side {
  color: rgb(255,153,51);
  background-color: rgba(0,51,102,1);
  box-sizing: border-box;
  /*To make divs side by side*/
  width: 48%;
  display: inline-block;
  height: 200px;
  margin: 5px;
  border: 10px solid #000000;
  padding: 5em;
  margin: 0 auto;
  margin-top: 50px;
}
